@charset "UTF-8";

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ---                                         Mobile                                          --- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 992px)
{
body
{
	margin: 0;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
}

#conteudo-menu-mobile, #conteudo-menu-mobile, #compras-status /* Código utilizado para ocultar partes exclusivas do site Mobile */
{
	display: none;
}

/* --------------------------------------------------- */
/* ---               Corpo do site                 --- */
/* --------------------------------------------------- */
#conteudo-site /* Utilizado para site responsivo, centralizando o conteúdo a partir de 1920px de resolução */
{
	max-width: 1920px;
	margin: auto;
}

/* ---------------------------------------- Título ---------------------------------------- */

#banner-titulo
{
	margin-top: 1px;
	margin-bottom: 15px;
	position: relative;
}

#titulo-imagem { width: 100%; }

#titulo
{
	font-size: 46pt;
	font-weight: bold;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

/* ------------------------------------ Menu Vertical ------------------------------------ */
#div
{
	width: 80%;
	display: grid;
	grid-template-columns: 100%;
	margin: auto;
}

#menu-vertical-link { font-size: 22pt; color: #660094; text-decoration: none; }

#menu-vertical-ul
{
	font-size: 28pt;
	background-color: #f2f2f2;
	border-radius: 20px;
	margin: auto;
	padding: 40px;
}

#menu-vertical-li > a { text-decoration: none; color: #660094; }
#menu-vertical-li > a:hover 
{ 
	color: #ff9600;
	transition: 0.3s; 
}

#compras-ul { padding-left: 30px; }

#titulo-grande
{
	font-size: 32pt;
	margin: auto;
	text-align: center;
}#compras-data-da-entrega > #compras-ul > #texto-grande { padding-left: 0px; }

#texto-grande
{
	font-size: 12pt;
	font-weight: normal;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
}

#texto-pequeno
{
	font-size: 12pt;
	font-weight: normal;
	margin: 0;
	padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#menu-vertical-li { padding: 0px; font-size: 18pt; }

/* ---------------------------------------- Formulário ---------------------------------------- */

#conteudo
{
	width: 100%;
	font-size: 28pt;
}

#form-pesquisa { margin: 0px 10% 0px 10%; }

#pesquisa
{
    width: 100%;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
	font-size: 12pt;
	border: none;
	border-bottom: 2px solid #660094;
	border-radius: 3px;
    margin: 0px 10px 5% 0px;
	padding: 10px;
	outline: none;
    transition: 0.5s;
}

#table { width: 100%; margin-top: 5%; margin-bottom: 5%; overflow: scroll; }

table, th, td
{
    border-bottom: 1px solid #660094; 
    border-collapse: collapse;
    text-align: center
}

th, td { padding: 10px; }

#select
{
    width: 100%;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
	font-size: 28pt;
	border: none;
	border-bottom: 2px solid #660094;
	border-radius: 3px;
    margin-bottom: 10px;
	outline: none;
    transition: 0.5s;
}

#submit, #botao-pesquisa
{
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
	font-size: 28pt;
	color: #ffffff;
	background: #660094;
	position: relative;
	border: none;
    border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
} #botao-pesquisa { width: 20%; }

/* ---------------------------------------- Rodapé ---------------------------------------- */
#rodape
{
	background: #f2f2f2;
	display: block;
	position: relative;
	margin: auto;
}

#rodape-logo { width: 490px; margin: auto; }

#rodape-logo-imagem
{
	width: 490px;
	margin: auto;
	margin-top: 50px;
}

#rodape-texto
{
	width: 100%;
	font-size: 8pt;
	font-weight: bold;
	margin: auto;
	text-align: center;
}

i { margin: auto; margin-top: 30px; margin-bottom: 50px; margin-left: 110px; text-align: center; }
/* --------------------------------------------------- */
/* ---            Fim do corpo do site             --- */
/* --------------------------------------------------- */	
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ---                                         Desktop                                         --- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1000px)
{
body
{
	margin: 0;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
}

#conteudo-menu-mobile, #conteudo-menu-mobile, #button-menu-mobile, #button-fechar, #banner-mobile /* Código utilizado para ocultar partes exclusivas do site Mobile */
{
	display: none;
}

/* --------------------------------------------------- */
/* ---               Corpo do site                 --- */
/* --------------------------------------------------- */
#conteudo-site /* Utilizado para site responsivo, centralizando o conteúdo a partir de 1920px de resolução */
{
	max-width: 1920px;
	margin: auto;
}

/* ---------------------------------------- Título ---------------------------------------- */

#banner-titulo
{
	margin-top: 1px;
	margin-bottom: 15px;
	position: relative;
}

#titulo-imagem { width: 100%; }

#titulo
{
	font-size: 32pt;
	font-weight: bold;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

/* ------------------------------------ Menu Vertical ------------------------------------ */
#div
{
	width: 70%;
	display: grid;
	grid-template-columns: 15% auto;
    margin: 5% auto 20% auto;
}

#menu-vertical-link { font-size: 16pt; color: #660094; text-decoration: none; }
#menu-vertical-link:hover 
{ 
	color: #ff9600;
	transition: 0.3s; 
}

#titulo-grande
{
	margin: auto;
}

#texto-grande
{
	font-size: 12pt;
	font-weight: normal;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
}

#texto-pequeno
{
	font-size: 12pt;
	font-weight: normal;
	margin: 0;
	padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ---------------------------------------- Formulário ---------------------------------------- */

#conteudo
{
	font-size: 12pt;
    margin: 0px 10% 30px 5%;
}

#form-pesquisa { margin: 0px 10% 0px 10%; }

#pesquisa
{
    width: 60%;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
	font-size: 12pt;
	border: none;
	border-bottom: 2px solid #660094;
	border-radius: 3px;
    margin: 0px 10px 5% 0px;
	padding: 10px;
	outline: none;
    transition: 0.5s;
}

table { width: 100%; }

table, th, td
{
    border-bottom: 1px solid #660094; 
    border-collapse: collapse;
    text-align: center
}

th, td { padding: 10px; }

#select
{
    width: 100%;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
	font-size: 12pt;
	border: none;
	border-bottom: 2px solid #660094;
	border-radius: 3px;
    margin-bottom: 10px;
	outline: none;
    transition: 0.5s;
}

#submit, #botao-pesquisa
{
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
	font-size: 14pt;
	color: #ffffff;
	background: #660094;
	position: relative;
	border: none;
    border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
} #botao-pesquisa { width: 20%; }

/* ---------------------------------------- Rodapé ---------------------------------------- */
#rodape
{
	background: #f2f2f2;
	display: flex;
	position: relative;
}

#rodape-logo { width: 10%; }

#rodape-logo-imagem
{
	margin: 30px 0 30px 30px;
	width: 100%;
}

#rodape-texto
{
	width: 100%;
	font-size: 12pt;
	font-weight: bold;
	margin: auto;
	margin-left: 50px;
}

i { margin: auto; margin-right: 30px; }
}