@charset "UTF-8";

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ---                                         Mobile                                          --- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 992px)
{
body
{
	background-color: #f2f2f2;
	margin: 0;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
}

#conteudo-menu-mobile, #conteudo-menu-mobile, #banner /* Código utilizado para ocultar partes exclusivas do site Mobile */
{
	display: none;
}

/* --------------------------------------------------- */
/* ---               Corpo do site                 --- */
/* --------------------------------------------------- */
#conteudo-site /* Utilizado para site responsivo, centralizando o conteúdo a partir de 1920px de resolução */
{
	max-width: 1920px;
	margin: auto;
}

/* ---------------------------------------- Título ---------------------------------------- */


#banner-titulo
{
	margin-top: 1px;
	margin-bottom: 15px;
	position: relative;
}

#titulo-imagem { width: 100%; }

#titulo /* Textos das caixas de perguntas */
{
	font-size: 46pt;
	font-weight: bold;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

/* ---------------------------------------- Serviços ---------------------------------------- */

#div { background-color: #f2f2f2; }

#servicos
{
	width: 65%;
	display: grid;
	grid-template-columns: auto;
	grid-gap: 30px;
	margin: auto;
	padding: 30px;
}

#grid-conteudo /* Da parte de serviços */
{
	background-color: #ffffff;
	box-shadow: 0 8px 12px 0 #00000020;
}

#grid-informacao { padding: 0px 30px 30px 30px; }

#servicos-links
{
	font-size: 32pt;
	color: #000000;
	text-decoration: none;
} #preco { font-weight: bold; }

#servicos-imagens 
{
	width: 80%;
	margin: auto;
	padding: 10px 0px 10px 10%;
}

/* ---------------------------------------- Rodapé ---------------------------------------- */
#rodape
{
	background: #f2f2f2;
	display: block;
	position: relative;
	margin: auto;
}

#rodape-logo { width: 490px; margin: auto; }

#rodape-logo-imagem
{
	width: 490px;
	margin: auto;
	margin-top: 50px;
}

#rodape-texto
{
	width: 100%;
	font-size: 8pt;
	font-weight: bold;
	margin: auto;
	text-align: center;
}

i { margin: auto; margin-top: 30px; margin-bottom: 50px; margin-left: 110px; text-align: center; }

/* --------------------------------------------------- */
/* ---            Fim do corpo do site             --- */
/* --------------------------------------------------- */
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ---                                         Desktop                                         --- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1000px)
{
body
{
	background-color: #f2f2f2;
	margin: 0;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
}

#conteudo-menu-mobile, #conteudo-menu-mobile, #button-menu-mobile, #button-fechar-mobile, #banner-mobile /* Código utilizado para ocultar partes exclusivas do site Mobile */
{
	display: none;
}

/* --------------------------------------------------- */
/* ---               Corpo do site                 --- */
/* --------------------------------------------------- */
#conteudo-site /* Utilizado para site responsivo, centralizando o conteúdo a partir de 1920px de resolução */
{
	max-width: 1920px;
	margin: auto;
}

/* ---------------------------------------- Título ---------------------------------------- */


#banner-titulo
{
	margin-top: 1px;
	margin-bottom: 15px;
	position: relative;
}

#titulo-imagem { width: 100%; }

#titulo /* Textos das caixas de perguntas */
{
	font-size: 32pt;
	font-weight: bold;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

/* ---------------------------------------- Serviços ---------------------------------------- */

#div { background-color: #f2f2f2; }

#servicos
{
	width: 80%;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 30px;
	margin: auto;
	margin-bottom: 10%;
	padding: 30px;
}

#grid-conteudo /* Da parte de serviços */
{
	background-color: #ffffff;
	box-shadow: 0 8px 12px 0 #00000020;
}

#grid-informacao { padding: 0px 30px 30px 30px; }

#servicos-links
{
	font-size: 14pt;
	color: #000000;
	text-decoration: none;
} #preco { font-weight: bold; }

#servicos-imagens 
{
	width: 80%;
	margin: auto;
	padding: 10px 0px 10px 10%;
}

/* ---------------------------------------- Rodapé ---------------------------------------- */
#rodape
{
	background: #f2f2f2;
	display: flex;
	position: relative;
}

#rodape-logo { width: 10%; }

#rodape-logo-imagem
{
	margin: 30px 0 30px 30px;
	width: 100%;
}

#rodape-texto
{
	width: 100%;
	font-size: 12pt;
	font-weight: bold;
	margin: auto;
	margin-left: 50px;
}

i { margin: auto; margin-right: 30px; }

/* --------------------------------------------------- */
/* ---            Fim do corpo do site             --- */
/* --------------------------------------------------- */
}