@charset "UTF-8";

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ---                                         Mobile                                          --- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 992px)
{
body
{
	margin: 0;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
}

#conteudo-menu-mobile, #conteudo-menu-mobile /* Código utilizado para ocultar partes exclusivas do site Mobile */
{
	display: none;
}

/* --------------------------------------------------- */
/* ---               Corpo do site                 --- */
/* --------------------------------------------------- */
#conteudo-site /* Utilizado para site responsivo, centralizando o conteúdo a partir de 1920px de resolução */
{
	max-width: 1920px;
	margin: auto;
}

/* ---------------------------------------- Título ---------------------------------------- */

#banner-titulo
{
	margin-top: 1px;
	margin-bottom: 15px;
	position: relative;
}

#titulo-imagem { width: 100%; }

#titulo
{
	font-size: 46pt;
	font-weight: bold;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

/* ---------------------------------------- Formulário ---------------------------------------- */

#conteudo
{
	font-size: 22pt;
	margin: 0px auto 30px auto;
}

table, #valor-final { width: 70%; margin: auto; }

table, th, td, #valor-final
{
    border-bottom: 1px solid #660094; 
    border-collapse: collapse;
    text-align: center
}

th, td { padding: 10px; }

#li { font-size: 22pt; }

#email 
{ 
	color: #660094;
	cursor: pointer;
}

form
{
    width: 70%;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 5%;
}

#dividir-para-dois-formularios
{
	width: 100%;
	display: block;
}

#dividir-para-dois-formularios-lado-esquerdo, #dividir-para-dois-formularios-lado-direito
{
	width: 100%; 
	margin-right: 10%;
}
#dividir-para-dois-formularios-lado-direito { margin-right: 0; }

#form-label, #form-label-boleto-bancario, #form-label-cartao-de-credito
{
    font-size: 28pt;
	margin-left: 10px;
}

#nomecartao, #numerocartao, #datadevencimento, #cvv, #parcelas
{
    width: 100%;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
	font-size: 28pt;
	background-color: #f2f2f2;
	border: none;
	border-bottom: 2px solid #660094;
	border-radius: 3px;
    margin-bottom: 10px;
	padding: 10px;
	outline: none;
    transition: 0.5s;
}

#parcelas
{
	width: calc(100% + 20px);
}

#nomecartao:focus, #numerocartao:focus, #datadevencimento:focus, #cvv:focus
{
	transition: 0.5s;
}

input[type="checkbox"], input[type="radio"]
{
	width: 20px;
	height: 20px;
	margin-bottom: 50px;
}

#form-label-tipodecadastro, #tipodecadastro-mobile
{
	display: none;
}

#submit
{
	width: 70%;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
	font-size: 28pt;
	color: #ffffff;
	background: #660094;
	position: relative;
	border: none;
    border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	left: 15%;
}

#lixeira
{
	margin: auto;
	padding: 0 15px 0 15px;
}

#valor-final
{
	background-color: #f2f2f2;
	margin: 5% auto 35% auto;
}

/* ---------------------------------------- Rodapé ---------------------------------------- */
#rodape
{
	background: #f2f2f2;
	display: block;
	position: relative;
	margin: auto;
}

#rodape-logo { width: 490px; margin: auto; }

#rodape-logo-imagem
{
	width: 490px;
	margin: auto;
	margin-top: 50px;
}

#rodape-texto
{
	width: 100%;
	font-size: 8pt;
	font-weight: bold;
	margin: auto;
	text-align: center;
}

i { margin: auto; margin-top: 30px; margin-bottom: 50px; margin-left: 110px; text-align: center; }
/* --------------------------------------------------- */
/* ---            Fim do corpo do site             --- */
/* --------------------------------------------------- */	
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ---                                         Desktop                                         --- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1000px)
{
body
{
	margin: 0;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
}

#conteudo-menu-mobile, #conteudo-menu-mobile, #button-menu-mobile, #button-fechar, #banner-mobile /* Código utilizado para ocultar partes exclusivas do site Mobile */
{
	display: none;
}

/* --------------------------------------------------- */
/* ---               Corpo do site                 --- */
/* --------------------------------------------------- */
#conteudo-site /* Utilizado para site responsivo, centralizando o conteúdo a partir de 1920px de resolução */
{
	max-width: 1920px;
	margin: auto;
}

/* ---------------------------------------- Título ---------------------------------------- */

#banner-titulo
{
	margin-top: 1px;
	margin-bottom: 15px;
	position: relative;
}

#titulo-imagem { width: 100%; }

#titulo
{
	font-size: 32pt;
	font-weight: bold;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

/* ---------------------------------------- Formulário ---------------------------------------- */

#conteudo
{
	font-size: 12pt;
	margin: 0px auto 30px auto;
}

table, #valor-final { width: 70%; margin: auto; }

table, th, td, #valor-final
{
    border-bottom: 1px solid #660094; 
    border-collapse: collapse;
    text-align: center
}

th, td { padding: 10px; }

#email 
{ 
	color: #660094;
	cursor: pointer;
}

form
{
    width: 70%;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 5%;
}

#dividir-para-dois-formularios
{
	width: 100%;
	display: flex;
}

#dividir-para-dois-formularios-lado-esquerdo, #dividir-para-dois-formularios-lado-direito
{
	width: 45%; 
	margin-right: 10%;
}
#dividir-para-dois-formularios-lado-direito { margin-right: 0; }

#form-label, #form-label-parcelas, #form-label-datadenascimento, #form-label-pessoa-fisica, #form-label-pessoa-juridica
{
    font-size: 12pt;
	margin-left: 10px;
}

#nomecartao, #numerocartao, #datadevencimento, #cvv, #parcelas
{
    width: 100%;
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
	font-size: 12pt;
	background-color: #f2f2f2;
	border: none;
	border-bottom: 2px solid #660094;
	border-radius: 3px;
    margin-bottom: 10px;
	padding: 10px;
	outline: none;
    transition: 0.5s;
}

#parcelas
{
	width: calc(100% + 20px);
}

#nomecartao:focus, #numerocartao:focus, #datadevencimento:focus, #cvv:focus
{
	transition: 0.5s;
}

input[type="checkbox"], input[type="radio"]
{
	width: 20px;
	height: 20px;
	margin-bottom: 50px;
}

#submit
{
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
	font-size: 14pt;
	width: 30%;
	background: #660094;
	color: #ffffff;
    border: none;
    border-radius: 10px;
	padding: 10px 0px 10px 0px;
	cursor: pointer;
	position: relative;
	left: 35%;
}

#dividir-para-dois-formularios-pessoa-juridica, #form-label-tipodecadastro, #tipodecadastro-mobile
{
	display: none;
}

#submit
{
	font-family: Poppins;
	font-family: 'Poppins', sans-serif;
	font-size: 14pt;
	color: #ffffff;
	background: #660094;
	position: relative;
	border: none;
    border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

#lixeira
{
	margin: auto;
	padding: 0 15px 0 15px;
}

#valor-final
{
	background-color: #f2f2f2;
	margin: 5% auto 35% auto;
}

/* ---------------------------------------- Rodapé ---------------------------------------- */
#rodape
{
	background: #f2f2f2;
	display: flex;
	position: relative;
}

#rodape-logo { width: 10%; }

#rodape-logo-imagem
{
	margin: 30px 0 30px 30px;
	width: 100%;
}

#rodape-texto
{
	width: 100%;
	font-size: 12pt;
	font-weight: bold;
	margin: auto;
	margin-left: 50px;
}

i { margin: auto; margin-right: 30px; }
}